/**
  Normalization of the box model
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Remove internal padding on the left from list tags
  that have a class attribute
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Remove external margins from body and two other tags
  that have a class attribute
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Remove vertical external margins from needed tags
  that have a class attribute
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Remove default marker from unordered list
  that has a class attribute
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Reset vertical external margins for paragraph,
  declare local variable for bottom margin
  to avoid interaction with more complex selector
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Bottom margin for paragraph without class attribute
  that is not the last among its sibling elements
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Simplify working with images and videos
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Inherit font properties for input fields
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Will be useful in most situations
    (for example, when you need to "push" footer to the bottom of the page)
   */
  height: 100%;
  /**
    Remove horizontal interface jump
    when scrollbar appears/disappears
   */
  scrollbar-gutter: stable;
  /**
    Smooth scroll
   */
  scroll-behavior: smooth;
}

body {
  /**
    Will be useful in most situations
    (for example, when you need to "push" footer to the bottom of the page)
   */
  min-height: 100%;
  /**
    Unified line height
   */
  line-height: 1.5;
}

/**
  Normalization of link element height when inspecting in DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Remove text decoration from all link states
 */
a {
  &,
  &:link,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

/**
  Pointer cursor when hovering over element
 */
button,
label {
  cursor: pointer;
}

/**
  Removes gray highlight when tapping on mobile devices (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Bring svg elements to a single color
  (except those that already have
  fill attribute with value 'none' or starts with 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Bring svg elements to a single color
  (except those that already have
  stroke attribute with value 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Fix the bug of color change delay when interacting with svg elements
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Bring table borders to classic 'collapse' view
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Remove all animations and transitions
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
